// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
    margin-bottom: 1em;
}

.card {
    margin: 1em;
    padding: 2em;
    border: solid #444444;
    border-radius: 40px;
}